*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0 10%;
	color: #57413b;
	background-color: #fffcf5;
	font: 1.25rem/1.5 'Roboto', sans-serif;
}

.wrapper {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

h1, h2 {
	margin: 0;
	line-height: 1.25;
}

h1 {
	padding-bottom: 20px;
	border-bottom: 6px dotted;
	font-size: 3rem;
	text-transform: uppercase;
	text-shadow: 1px 1px #fffcf5, 3px 3px;
}

h2 {
	margin-top: 40px;
	font-size: 1.5rem;
}

canvas {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

@media screen and (min-width: 450px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2rem;
	}
}
